<footer class="bg-secondary d-flex flex-row p-3 text-light">
    <div class="w-50">
        <h4>[Nome da empresa]</h4>
        <p>Agradecemos por escolher o [Nome da empresa] como o lugar onde seu pet será tratado com carinho e cuidado
            excepcionais. Estamos ansiosos para cuidar do seu amigo peludo e criar uma parceria duradoura de amor e
            cuidado.</p>
    </div>
    <div class="w-25">
        <h4>Links</h4>
        <nav class="list-group">
            <a href="/#Inicio" class="text-decoration-none text-light">Início</a>
            <a href="/#Servicos" class="text-decoration-none text-light">Serviços</a>
            <a href="/#Sobre" class="text-decoration-none text-light">Sobre</a>
            <a href="/#Contato" class="text-decoration-none text-light">Contate-nos</a>
            <a href="/administracao" class="text-decoration-none text-light">Administração</a>
        </nav>
    </div>
    <div class="w-25">
        <h4>Estamos localizados</h4>
        <img src="/images/map.svg" class="img-thumbnail" alt="Mapa mostrando onde fica o petshop">
    </div>
</footer>