<!DOCTYPE html>
<html lang="pt-br">

<head>
    {{> head}}
</head>

<body>
    {{#if session.userid}}
    {{> navbar_logged}}
    {{else}}
    {{> navbar_not_logged}}
    {{/if}}
    <div id="menssages_of_system" class="container text-center w-50">
        {{#if messages.message}}
        <div class="alert alert-warning" role="alert">
            {{messages.message}}
        </div>
        {{/if}}
        {{#if message}}
        <div class="alert alert-warning" role="alert">
            {{message}}
        </div>
        {{/if}}
    </div>
    {{{body}}}
    {{> footer}}
</body>
{{> libsjs}}
{{#if requirePetsAjax}}
    {{> libsajax}}
{{/if}}
</html>