<main class="container text-start ">
    <div class="row justify-content-start align-items-start" style="min-height: 80vh;">
        <div class="row justify-content-start">
            <h2>Adicionar cliente</h2>
            <p class="text-secondary">Você pode adicionar cliente.</p>
            <form action="/funcionalidade/adicionar_cliente" method="post" class="text-start col-md-6">
                <label for="name" class="form-label m-1">Nome do cliente</label>
                <input type="text" id="name" name="name" class="form-control m-1" required>
                <label for="cpf" class="form-label m-1">CPF</label>
                <input type="text" id="cpf" name="cpf" value="{{cpf}}" class="form-control m-1" required>
                <label for="address" class="form-label m-1">Endereço</label>
                <input type="text" id="address" name="address" class="form-control m-1" required>
                <label for="telephone" class="form-label m-1">Número de telefone</label>
                <input type="tel" id="telephone" name="telephone" class="form-control m-1" required>
                <div class="d-flex justify-content-between my-1">
                    <button type="submit" class="btn btn-primary my-2">Adicionar cliente</button>
                </div>
            </form>
        </div>
    </div>
</main>