<main class="container text-start ">
    <div class="row justify-content-start align-items-start" style="min-height: 80vh;">
        <div class="row justify-content-start">
            <h2>Adicionar cliente</h2>
            <p class="text-secondary">Você pode adicionar cliente.</p>
            <div class="text-start col-md-4">
                <label class="form-label ">Nome do cliente</label>
                <p>{{client.name}}</p>
                <label class="form-label ">CPF</label>
                <p>{{client.cpf}}</p>
                <label class="form-label ">Endereço</label>
                <p>{{client.address}}</p>
                <label class="form-label ">Número de telefone</label>
                <p>{{client.telephone}}</p>
            </div>
            <div class="text-start col-md-8">
                {{!-- a fazer --}}
            </div>
        </div>
    </div>
</main>